.brandonImage {
    max-width: 50%;
    float: left;
    margin: 5px 20px 0 0;
}

.aboutMeSummary {
    font-size: 18px;
    text-align: left;
}

.portfolioPanel {
    color: c3c3c3;
}

.AboutMePage {
    margin: 20px;
}

.linkButton {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0066cc), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #0066cc 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #0066cc 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #0066cc 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #0066cc 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #0066cc 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0066cc', endColorstr='#476e9e',GradientType=0);
	background-color:#0066cc;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	padding:12px 37px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    margin-bottom: 20px;
}